<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- LeggedHWSim creates HybridJointInterface handles from these effort joints. -->
  <xacro:macro name="colt_transmission" params="joint">
    <transmission name="${joint}_tran">
      <type>transmission_interface/SimpleTransmission</type>
      <joint name="${joint}">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
      </joint>
      <actuator name="${joint}_motor">
        <hardwareInterface>hardware_interface/EffortJointInterface</hardwareInterface>
        <mechanicalReduction>1</mechanicalReduction>
      </actuator>
    </transmission>
  </xacro:macro>

  <xacro:macro name="colt_leg_sim" params="prefix">
    <xacro:colt_transmission joint="${prefix}_HAA"/>
    <xacro:colt_transmission joint="${prefix}_HFE"/>
    <xacro:colt_transmission joint="${prefix}_KFE"/>
    <xacro:if value="$(arg gazebo)">
      <!-- ContactManager must see LF_FOOT etc., rather than a lumped calf link. -->
      <gazebo reference="${prefix}_foot_fixed">
        <disableFixedJointLumping>true</disableFixedJointLumping>
      </gazebo>
      <gazebo reference="${prefix}_hip">
        <mu1>0.2</mu1><mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
      </gazebo>
      <gazebo reference="${prefix}_thigh">
        <mu1>0.2</mu1><mu2>0.2</mu2>
        <selfCollide>false</selfCollide>
        <material>Gazebo/DarkGrey</material>
      </gazebo>
      <gazebo reference="${prefix}_calf">
        <mu1>0.6</mu1><mu2>0.6</mu2>
        <selfCollide>true</selfCollide>
      </gazebo>
      <gazebo reference="${prefix}_FOOT">
        <mu1>0.6</mu1><mu2>0.6</mu2>
        <selfCollide>true</selfCollide>
        <material>Gazebo/DarkGrey</material>
        <kp>1000000.0</kp>
        <kd>100.0</kd>
      </gazebo>
    </xacro:if>
  </xacro:macro>

  <xacro:colt_leg_sim prefix="LF"/>
  <xacro:colt_leg_sim prefix="LH"/>
  <xacro:colt_leg_sim prefix="RF"/>
  <xacro:colt_leg_sim prefix="RH"/>

  <xacro:if value="$(arg gazebo)">
    <gazebo reference="base_imu_joint">
      <disableFixedJointLumping>true</disableFixedJointLumping>
    </gazebo>
    <gazebo>
      <plugin name="gazebo_ros_control" filename="liblegged_hw_sim.so">
        <robotNamespace>/</robotNamespace>
        <robotParam>legged_robot_description</robotParam>
        <robotSimType>legged_gazebo/LeggedHWSim</robotSimType>
      </plugin>
    </gazebo>
    <gazebo>
      <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>1000.0</updateRate>
        <bodyName>base</bodyName>
        <topicName>ground_truth/state</topicName>
        <gaussianNoise>0</gaussianNoise>
        <frameName>world</frameName>
        <xyzOffsets>0 0 0</xyzOffsets>
        <rpyOffsets>0 0 0</rpyOffsets>
      </plugin>
    </gazebo>
  </xacro:if>
</robot>
